<footer class="main-footer">
  <div class="float-right hidden-xs">
    <%= image_tag 'chaleville_logo.png', style: 'width: 120px; margin-top: -10px;' %>
  </div>
  <strong>Perfecta Criações</strong>
  <%= link_to "&copy;".html_safe, new_user_session_path, class: 'text-danger' %>
  2018-<%= Date.today.year %>
</footer>
