<div class="card card-outline card-danger">
  <div class="card-header with-border">
    <h3 class="card-title">
      Unidades
      <% if can? :manage, Unit %>
        <%= link_to new_unit_path, class: "btn btn-danger btn-xs" do %>
          <i class='fa fa-plus'></i>
        <% end %>
      <% end %>
    </h3>
  </div>
  <div class="card-body">
    <div id="tree"></div>
  </div>
</div>
