/*
"bootstrap-sprockets";
"bootstrap";
"admin-lte/dist/css/AdminLTE";
"admin-lte/dist/css/skins/skin-red-light";

thead {
  display: table-header-group
}

tfoot {
  display: table-row-group
}

tr {
  page-break-inside: avoid
}*/